<h1>Listing comentarios</h1>

<table>
  <thead>
    <tr>
      <th>Articulo</th>
      <th>Cuerpo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.articulo_id %></td>
        <td><%= comentario.cuerpo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comentario', new_comentario_path %>
