// Place all the styles related to the articulos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{
    
    font-family: Arial, 'Helvetica';
   background-color: #fff;
  color: #333;
   font-size: 13px;
  line-height: 18px;
}